.booking-modal-container {
    .booking-modal-header {
        height: 500px;

        .booking-modal-header {
            height: 30px;

            .right {
                float: right;
            }
        }

        .booking-modal-body {
        }

        .booking-modal-footer {
            height: 30px;
        }
    }
}
